body{
    width: 595px;
    height: 842px;
    background-color: rgb(221, 202, 31);
    font-family: Arial;
    border: 7px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.555);
    margin: auto;
    margin-top: 30px;
    
}
div#global{
    position: relative;
    bottom: 18px;
}
header{
    width: 595px;
    height: 150px;
    background-color: rgb(92, 87, 87);
    position: relative;
}
h1{
font-size: 25px;
position: relative;
left: 195px;
top: 15px;
color: white;
}
div#dadosPessoais{
    position: relative;
    bottom: 113px;
    left: 158px;
    width: 350px;
}
div#email{
    position: relative;
    bottom: 15px;
    left: 41px;
}


section{
    height: 607px;
    width: 200px;
    background-color: rgb(92, 87, 87);
    position: relative;
    
}
section#direita{
    background-color: rgb(238, 231, 231);
    height: 692px;
    width: 395px;
    position:relative ;
    left:200px;
    bottom: 607px;
}
div#corpo{
    margin-left: 5px;
    width: 380px;
}
footer{
    background-color: rgb(224, 203, 15);
    height: 85px;
    width: 200px;
    position: relative;
    bottom: 692px;
    
}
div#contatosDigitais{
    font-size: 13px;
    position: relative;
    bottom: 10px;
}
p.gitHub{
    position: relative;
    bottom: 33px;
    left: 35px;
}
img#linkedin{
    position: relative;
    bottom: 30px;
    left: 8px;
}
p.linkedin{
    position: relative;
    bottom: 62px;
    left: 35px;
}
p#sSkill{
    margin: auto;
    position: relative;
    text-align: center;
    top: 3px;
    left: 14px;
}
p#hSkill{
    margin: auto;
    position: relative;
    text-align: center;
    top: 6px;
    left: 14px;
}
img#perfil{
    position: relative;
    bottom: 35px;
    left: 30px;
    border-radius: 100px;
    border: 3px solid rgb(224, 203, 15);
}
div#linha{
    height: 5px;
    background-color: rgb(224, 203, 15);
    
}

img#imghardskills{
    width: 30px;
    border: 10px solid white;
    border-radius: 100%;
    position: relative;
    top: 5px;
    margin-left: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
    z-index: 2;
}
div#hardskills{
    background-color: white;
    height: 32px;
    width: 150px;
    position: relative;
    bottom: 40px;
    left: 10px;
    border-radius: 5px 5px 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
    z-index: 1;
}
div#hs{
    margin-top: 5px;
}
nav{
    color: whitesmoke;
    position: relative;
    bottom: 30px;
}
div#barrahtml5{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barrahtml52{
    background-color: yellow;
    height: 5px;
    width: 50px;
    border-radius: 10px;
}
div#barracss{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barracss2{
    background-color: yellow;
    height: 5px;
    width: 40px;
    border-radius: 10px;
}
div#barrajs{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barrajs2{
    background-color: yellow;
    height: 5px;
    width: 58px;
    border-radius: 10px;
}
div#barragit{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barragit2{
    background-color: yellow;
    height: 5px;
    width: 30px;
    border-radius: 10px;
}
div#barralp{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barralp2{
    background-color: yellow;
    height: 5px;
    width: 80px;
    border-radius: 10px;
}
div#softskills{
    background-color: white;
    height: 32px;
    width: 150px;
    border-radius: 5px 5px 50px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
}
img#softskills{
    width: 30px;
    border: 10px solid white;
    border-radius: 100%;
    position: relative;
    bottom: 8px;
    right: 8px;
    box-shadow: 2px 2px 5px black;
}
div#softskillsP{
    position: relative;
    bottom: 50px;
    right: 3px;
}
div#barrasoft1{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barrasoft1-1{
    background-color: yellow;
    height: 5px;
    width: 110px;
    border-radius: 10px;
}
div#barrasoft2{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barrasoft2-1{
    background-color: yellow;
    height: 5px;
    width: 155px;
    border-radius: 10px;
}
div#barrasoft3{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barrasoft3-1{
    background-color: yellow;
    height: 5px;
    width: 120px;
    border-radius: 10px;
}
div#barrasoft4{
    background-color: silver;
    height: 5px;
    width: 175px;
    position: relative;
    right: 30px;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}
div#barrasoft4-1{
    background-color: yellow;
    height: 5px;
    width: 150px;
    border-radius: 10px;
}
nav#soft{
    margin-top: 55px;
}
div#social{
    background-color: rgb(92, 87, 87);
    border-radius: 10px;
    width: 150px;
    position: relative;
    bottom: 8px;
    left: 23px;
    text-align: center;
    color: white;
}